<div class="interface">
  <div id="lists">
    <nav></nav>
    <ul>
      <li class="sidebar-item">
        <a href="#">Movie</a>
      </li>
      <li class="sidebar-item">
        <a href="#">Larger than life</a>
      </li>
      <li class="sidebar-item">
        <a href="#">Books I wanna read</a>
      </li>
      <li class="sidebar-item">
        <a href="#">Best ruby gems</a>
      </li>
    </ul>
  </div>
  <div id="notes">
    <nav></nav>
    <div class="notes-scroll">
      <ol>
        <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
        <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>
              <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Le Pont de la rivière Kwai</span>
          </a>
        </li>

        <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>M le Maudit</span>
          </a>
        </li>
        <li class="notes-item">
          <a href="#content" class="notes-item-body">
            <span>Kagoshima</span>
          </a>
        </li>
      </ol>

    </div>
  </div>
  <div id="content"></div>
</div>
